venv/

.idea/

flaskr/bootstrap/
flaskr/__init__.py.save
flaskr/templates/.base.html.swp

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

setup.py
MANIFEST.in
Test.py

SystemLogger/logs.txt
